<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons (click)="close()" slot="end">
      <ion-button color="primary" class="ic">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Recherche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <h2>Type de local</h2>
    <ion-card>
      <ion-item lines='none'>
          <ion-select [(ngModel)]="rechercheAppart.typeLocalId" placeholder="Selectionnez">
            <ion-select-option [value]="cat.id" *ngFor="let cat of categories">{{cat?.type}}</ion-select-option>
          </ion-select>
      </ion-item>
    </ion-card>

    <h2>Quartier</h2>
    <ion-card>
      <ion-item lines='none'>
          <ion-select [(ngModel)]="rechercheAppart.quartierId" placeholder="Selectionnez">
            <ion-select-option [value]="quar.id" *ngFor="let quar of quartiers">{{quar?.name}}</ion-select-option>
          </ion-select>
      </ion-item>
    </ion-card>

<!--    <h2>Quartier</h2>-->
<!--    <ion-card>-->
<!--      <ion-item lines='none'>-->
<!--        <ion-input [(ngModel)]="rechercheAppart.quartierId" type="text" placeholder="Ex: Kalaban" position="floating"></ion-input>-->
<!--      </ion-item>-->
<!--    </ion-card>-->

    <h2>Prix</h2>
    <ion-card>
      <ion-item lines='none'>
        <ion-input [(ngModel)]="rechercheAppart.prix" type="number" placeholder="Ex: 50000 sans ecrire fcfa" position="floating"></ion-input>
      </ion-item>
    </ion-card><br>

    <ion-button mode=ios (click)="chercher()" expand="block" shape="round" color="dark">
      Chercher
    </ion-button>
  </div>

</ion-content>
