<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons (click)="retour()" slot="start">
      <ion-button class="ic">
        <ion-icon color="light" name="arrow-back-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Logîs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xs='12' size-sm='4' *ngFor="let annonce of annonces">
        <ion-card mode="ios" button>
          <ion-row>
            <ion-col size="12">
              <img (click)="goToDetail(annonce)"
                *ngIf="(annonce.annonce.images) && (annonce.annonce.images.length > 0)"
                 [src]='annonce.annonce.images[0]?.path'>
            </ion-col>

            <ion-col class="lateral" size="12">
              <div>
                <div class="flex">
                  <div class="cl" (click)="goToDetail(annonce)">
                    <h2>{{annonce?.annonce.type}}</h2>
                  </div>

                  <div class="b">
                    <ion-buttons>
                      <ion-button (click)="save(annonce)" slot="icon-only">
                        <ion-icon color="dark" name="heart"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </div>

                </div>

                <div class="descrip" (click)="goToDetail(annonce)">
                  <p>{{annonce.annonce.titre}}</p>
                  <p>Prix: {{annonce.annonce.prix}}/{{annonce.annonce.formeOffre}}</p>
                </div>

              </div>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="dots" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
